body
{
    background: white
    color: brown;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: white;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.75);
    color: rgb(167, 12, 12);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo
{
    width: 70px;
    vertical-align: middle;
}

#cabecera #tagline
{
    padding: 1em 0 0 0;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 2em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;

}

#post
{
    background: rgb(243, 135, 135);
    padding: 1em;
}

#footer
{
    background: rgb(221, 210, 86);
    color: black;
    text-align: center;
    padding: 0.5em;
}